.project_main_container{
    h1{
        text-align: center;
        margin-bottom: 5%;
    }
    .mains{
        .project_mains{
            width: 80%;
            margin: 30px auto;
            padding: 3%;
            box-shadow: 0 3px 5px 0px #000;
            transition: 0.4s;
            h4.project_head{
                color: aqua;
                font-size: var(--fs28);
                text-align: center;
                position: relative;
                margin: 0 0 20px 0;
                &::after{
                    content: "";
                    position: absolute;

                }
            }
            .project{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 8%;
                padding-bottom: 30px;
                .left_container{
                    width: 50%;
                    h4,p{
                        color: #bbbbbd;
                    }
                    p{
                        margin: 0;
                        text-align: justify;
                        font-size: var(--fs14);
                    }
                    .sub_head{
                        font-weight: 500;
                        font-size: var(--fs19);
                        margin-top: 20px;
                        color: #9067c6;
                    }
                    a{
                        color: #9067c6;
                        margin: 10px 0;
                        display: block;
                    }
                    ul{
                        display: flex;
                        flex-wrap: wrap;
                        gap: 10px;
                        align-items: center;
                        li{
                            list-style: none;
                            position: relative;
                            color: #fff;
                            white-space: nowrap;
                            text-transform: capitalize;
                            font-size: var(--fs17);
                            &::after{
                                content: ",";
                                position: absolute;
                                right:-5px ;
                            }
                            &:last-child{
                                &::after{
                                    display: none;
                                }
                            }
                        }
                    }
                }
                .right_container{
                    width: 50%;
                    text-align: center;
                    img{
                        height: 100%;
                        border-radius: 10px;
                        width: var(--width80);
                        max-width: 400px;
                    }
                }
               
            }
            &:hover{
                box-shadow: 0 4px 8px 0px #000;
            }
        }
    }
}

@media (max-width:1200px){
    .project_main_container {
        .mains{
            .project_mains{
                width: 80%;
            }
        }
    }
}

@media (max-width:991px){
    .project_main_container {
        .mains{
            .project_mains{
                width: 85%;
                .project{
                    flex-direction: column-reverse;
                    gap: 20px;
                    a{
                        width: 90%;
                        margin: 0 auto;
                    }
                    .left_container{
                        width: 90%;
                    }
                    .right_container{
                        width: 75%;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

@media (max-width:768px){
    .project_main_container{
        .mains{
            .project_mains{
                width: 90%;
            }
        }
    }
}