.main_container{
    .subs_container{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        width: var(--width80);
        color: #bbbbbd;
        height: calc(100vh - 70px);
        .left_container{
            h1{
                font-size: var(--fs40);
                color: #fff;
                span{
                    // #e0a432
                    color:#9067c6;
                }
            }
            h2{
                position: relative;
                font-size: var(--fs30);
                color: transparent;
                // color: white;
                &::after{
                    content: attr(data);
                    position: absolute;
                    color: #fff;
                    width: 100%;
                    overflow: hidden;
                    white-space: nowrap;
                    left: 0;
                    animation: animateText 2s infinite;
                }
            }
        }
        .right_container{
            width: 50%;
            svg{
                height: 100%;
                width: 100%;
                path{
                    stroke-width: 1;
                    animation: animatewidth 1s;
                }
            }
        }
    }
    .brief_container{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: var(--width80);
        h2,p{
            font-size: var(--fs30);
            text-align: center;
            color: #fff;
        }
        p{
            font-size: var(--fs28);
        }
        span{
            color:#9067c6;
        }
    }
    .contents{
        height: 100vh;
        margin: 0 auto;
        width: var(--width80);
        display: flex;
        align-items: center;
        gap: 10%;
        h4{
            color: #9067c6;
            font-size: var(--fs30);
        }
        p{
            color: #fff;
            font-weight: 500;
            font-size: var(--fs23);
        }
        .right_content{
            width: 50%;
            svg{
                height: 100%;
                width: 100%;
            }
        }
        .left_content{
            width: 50%;
        }
    }
    .skillsets{
        // height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        .skills{
            margin: 0 auto;
            width: var(--width80);
            margin-bottom: 140px;
            ul{
                margin: 20px 0;
                padding: 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 8%;
                row-gap: 20px;
                li{
                    list-style: none;
                    font-size: var(--fs28);
                    text-align: center;
                    text-shadow: 5px 5px  #000;
                    color: #fff;
                    font-weight: 700;
                    cursor: pointer;
                    transition: 0.4s;
                    &::first-letter{
                        font-size: var(--fs45);
                        color: #9067c6;
                    }
                    &:hover{
                        transform: translateY(-5px) scale(1.2);
                    }
                }
            }
        }
    }
}

@keyframes animateText {
    0%{width: 0;}
    100%{width: 100%;}
}

@keyframes animateWidth {
    0%{stroke-width: 0;}
    100%{stroke-width: 1;}
}

@media (max-width:991px){
    .main_container{
        .brief_container{
            height: auto;
        }
        .subs_container{
            justify-content: center;
            flex-direction: column;
            .right_container{
                width: 70%;
            }
        }
        .contents{
            flex-direction: column;
            .right_content,.left_content{
                width: 75%;
            }
        }
        .skillsets{
            margin-top: 10px;
            .skills{
                margin-bottom: 50px;
            }
        }
    }
}

@media (max-width:768px){
    .main_container{
        .contents{
            min-height: 80vh;
            h4{
                text-align: center;
                margin: 20px 0;
            }
            p{
                text-align: center;
            }
        }
        .subs_container{
            justify-content: center;
            flex-direction: column;
            .right_container{
                width: 90%;
            }
        }
        
    }
}